header {
  grid-area: cabecera;
  border-top: solid 5px darkred;
  border-bottom: solid 5px darkred;
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  background: linear-gradient(rgba(189, 54, 54, 0.479), rgba(139, 0, 0, 0.185));
  margin-left: 5px;
  margin-right: 5px;
  /* NAV */ }
  header .navbar-brand {
    color: #050570;
    font-size: 2rem;
    font-weight: bold; }
    header .navbar-brand:hover {
      font-size: 2rem;
      color: #8b0404;
      font-weight: bold; }
  header .nav-link {
    color: #050570;
    font-size: 1rem;
    font-weight: bold; }
    header .nav-link:hover {
      color: #8b0404;
      font-size: 1.2rem;
      font-weight: bold; }

/* body*/
body {
  display: grid;
  grid-template-areas: 'cabecera' 'cuerpo' 'piedepagina';
  background-color: rgba(211, 209, 209, 0.842); }

/*MAIN*/
main {
  grid-area: cuerpo;
  border-right: solid 5px darkred;
  border-left: solid 5px darkred;
  border-top: solid 5px darkblue;
  border-bottom: solid 5px darkblue;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: linear-gradient(to right, rgba(139, 0, 0, 0.295), rgba(0, 0, 139, 0.349)); }
  main .titulo {
    text-align: center;
    font-size: 3.5rem;
    color: #050570;
    transition: font-color 2s; }
    main .titulo:hover {
      text-align: center;
      font-size: 3.5rem;
      color: #8b0404; }
  main p {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px; }
  main .plantel {
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px; }
  main .nombreplantel {
    font-size: 1.5rem;
    color: #060652;
    margin-left: 20px;
    margin-right: 15px; }
  main .proyecto2022 {
    width: 98%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px; }
  main .proyect2022 {
    margin-left: 15px;
    margin-right: 15px; }
  main .tituloApply {
    color: #050570;
    font-size: 2rem; }
  main .historia {
    font-size: 1.5rem;
    color: darkred;
    margin-left: 15px;
    margin-right: 15px; }
  main .proyectooyq {
    font-size: 1.5rem;
    color: darkred; }
  main fieldset {
    background-color: rgba(165, 63, 63, 0.562);
    color: #050570;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px; }

.aplicarmain {
  height: 600px; }

/*Foto del index*/
.fotoindex {
  background-image: url(https://www.monederosmart.com/wp-content/uploads/2020/03/44328457_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px; }

/*footer*/
footer {
  list-style-type: none;
  grid-area: piedepagina;
  border-top: solid 5px darkred;
  border-bottom: solid 5px darkred;
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: linear-gradient(to left, rgba(0, 0, 139, 0.589), rgba(92, 92, 184, 0.253)); }
  footer h2 {
    color: #050570;
    size: 1.3rem;
    padding-left: 20px;
    font-size: 1.3rem; }
    footer h2:hover {
      color: #8b0404;
      size: 1.3rem;
      padding-left: 20px;
      font-size: 1.3rem; }
  footer .foo {
    font-size: 1rem;
    list-style-type: none; }
  footer .footerapl {
    list-style-type: none;
    grid-area: piedepagina;
    border-top: solid 5px darkred;
    border-bottom: solid 5px darkred;
    border-left: solid 5px darkblue;
    border-right: solid 5px darkblue;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background: linear-gradient(to left, rgba(0, 0, 139, 0.589), rgba(92, 92, 184, 0.253));
    position: absolute;
    bottom: 0;
    width: 100%; }

/*Mis media queries*/
@media only screen and (min-width: 320px) and (max-width: 756px) {
  .titulo {
    text-align: center;
    font-size: 2rem;
    color: #050570;
    transition: font-color 2s; }
    .titulo:hover {
      text-align: center;
      font-size: 2rem;
      color: #8b0404; }
  p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px; }
  .foo {
    font-size: 0.7rem; }
  h2 {
    color: #050570;
    size: 0.5rem;
    padding-left: 20px;
    font-size: 0.5rem; }
  .nav {
    display: inline-flex;
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    color: #03034d;
    font-size: 0.6rem;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px; }
  .fotoindex {
    background-image: url(https://www.monederosmart.com/wp-content/uploads/2020/03/44328457_s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-position: center center; }
  body {
    display: grid;
    grid-area: auto; } }

.footerapl {
  list-style-type: none;
  grid-area: piedepagina;
  border-top: solid 5px darkred;
  border-bottom: solid 5px darkred;
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: linear-gradient(to left, rgba(0, 0, 139, 0.589), rgba(92, 92, 184, 0.253));
  position: absolute;
  bottom: 0;
  width: 100%; }
