
    header{
        grid-area: cabecera;
        border-top:solid 5px darkred;
        border-bottom: solid 5px darkred;
        border-left: solid 5px darkblue;
        border-right: solid 5px darkblue;
        background: linear-gradient( rgba(139, 0, 0, 0.61) , rgba(139, 0, 0, 0.185));   
        margin-left: 5px;
        margin-right: 5px;
        
    
    }
   
    /* body*/
body{
    display: grid;
    grid-template-areas: 
    'cabecera'
    'cuerpo'
    'piedepagina';
   
    
    background-color: rgb(197, 196, 196);
    
    
}
 
main{
    grid-area: cuerpo;
}

/*Padrenav*/
.navpadre {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    
       
    
}
/*Navegacion*/  
.nav{
    display: inline-block;
    list-style-type:none;
    font-style:normal;
    font-weight: bold;
    color: rgb(3, 3, 77);
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-left: 20px;
    
    
   
    
}
/* titulo*/
.titulo{
    text-align:center;
    font-size: 4rem;
    color: rgb(4, 4, 102);
    transition: font-size 2s;
   

}
.titulo:hover{
    text-align:center;
    font-size: 6rem;
    color: rgb(4, 4, 102);
    
}
p{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
}
/*Foto del index*/     
.fotoindex {
    grid-area: cuerpo;
    background-image: url(https://www.monederosmart.com/wp-content/uploads/2020/03/44328457_s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
    
}
/*fotos plantel*/
.plantel{
       
     width: 100%;
     margin-top: 5px; 
     margin-bottom: 5px; 
     margin-left: 5px; 
    

    
    
    
}  


.foo{
    font-size: 1.5rem;
    
    
}
h2{
    color: darkblue; size: 2rem;
    padding-left:20px; 
    font-size: 2rem;
   
     
}

/*Cuestionario de aplicacion*/
fieldset{
    background-color: rgba(139, 0, 0, 0.5);
    color: rgba(4, 4, 172, 0.753);
    font-weight:bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    
}
/*label*/



.tituloApply{
    color: rgb(18, 18, 126);
    font-size: 2rem;
}
/*footer*/
footer{
    grid-area: piedepagina;
    border-top:solid 5px darkred;
    border-bottom: solid 5px darkred;
    border-left: solid 5px darkblue;
    border-right: solid 5px darkblue;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background: linear-gradient(to left, rgba(0, 0, 139, 0.589) , rgba(0, 0, 139, 0.253));
}

/*Mis media queries*/
@media only screen and (min-width: 320px) and (max-width: 756px){
  .titulo{
       font-size: 2rem;

    }
    p{
        font-size: 1rem;
        font-weight: bold;
        margin-left: 5px;
    }
    .foo{
        font-size: 0.7rem;
        
        
    }
    h2{
        color: darkblue; size: 1rem;
        padding-left:20px; 
        font-size: 1rem;
       
         
    }
    .nav{
        display: inline-block;
        list-style-type:none;
        font-style:normal;
        font-weight: bold;
        color: rgb(3, 3, 77);
        font-size: 0.8rem;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 20px;
        padding-left: 20px;
        
        
       
        
    }
}