header {
  grid-area: cabecera;
  border-top: solid 5px darkred;
  border-bottom: solid 5px darkred;
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  background: linear-gradient(rgba(139, 0, 0, 0.61), rgba(139, 0, 0, 0.185));
  margin-left: 5px;
  margin-right: 5px;
  /* NAV */ }
  header .navbar-brand {
    color: #060686;
    font-size: 2rem;
    font-weight: bold; }
    header .navbar-brand:hover {
      color: #8b0404; }
  header .nav-link {
    color: #050570;
    font-size: 1rem;
    font-weight: bold; }
    header .nav-link:hover {
      color: #5f0303;
      font-size: 1.2rem;
      font-weight: bold; }

/* body*/
body {
  display: grid;
  grid-template-areas: 'cabecera' 'cuerpo' 'piedepagina';
  background-color: rgba(211, 209, 209, 0.842); }

main {
  grid-area: cuerpo;
  border-right: solid 5px darkred;
  border-left: solid 5px darkred;
  border-top: solid 5px darkblue;
  border-bottom: solid 5px darkblue;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  /* titulo*/
  /*FOTO PLANTEL*/
  /*CUESTIONARIO APLICACION*/
  /*label*/
  /*CUESTIONARIO APLICACION*/ }
  main .titulo {
    text-align: center;
    font-size: 3.5rem;
    color: #040466;
    transition: font-color 2s; }
    main .titulo:hover {
      text-align: center;
      font-size: 3.5rem;
      color: #700409; }
  main p {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px; }
  main .plantel {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; }
  main .tituloApply {
    color: #12127e;
    font-size: 2rem; }
  main fieldset {
    background-color: rgba(139, 3, 3, 0.562);
    color: rgba(4, 4, 172, 0.753);
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px; }

/*Foto del index*/
.fotoindex {
  background-image: url(https://www.monederosmart.com/wp-content/uploads/2020/03/44328457_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px; }

/*footer*/
footer {
  grid-area: piedepagina;
  border-top: solid 5px darkred;
  border-bottom: solid 5px darkred;
  border-left: solid 5px darkblue;
  border-right: solid 5px darkblue;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: linear-gradient(to left, rgba(0, 0, 139, 0.589), rgba(0, 0, 139, 0.253)); }
  footer h2 {
    color: darkblue;
    size: 1.3rem;
    padding-left: 20px;
    font-size: 1.3rem; }
    footer h2:hover {
      color: darkred;
      size: 1.3rem;
      padding-left: 20px;
      font-size: 1.3rem; }
    footer h2 .foo {
      font-size: 1rem; }

/*Mis media queries*/
@media only screen and (min-width: 320px) and (max-width: 756px) {
  .titulo {
    text-align: center;
    font-size: 2rem;
    color: #040466;
    transition: font-color 2s; }
    .titulo:hover {
      text-align: center;
      font-size: 2rem;
      color: #700409; }
  p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px; }
  .foo {
    font-size: 0.7rem; }
  h2 {
    color: darkblue;
    size: 0.5rem;
    padding-left: 20px;
    font-size: 0.5rem; }
  .nav {
    display: inline-flex;
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    color: #03034d;
    font-size: 0.6rem;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px; }
  .fotoindex {
    background-image: url(https://www.monederosmart.com/wp-content/uploads/2020/03/44328457_s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-position: center center; }
  body {
    display: grid;
    grid-area: auto; } }
